.wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: var(--overlayBg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  background-color: white;
  height: 90%;
  width: 90%;
  flex-direction: column;
}

.dialog {
  position: relative;
  background-size: 50%;
  width: 100px;
  height: 100px;
}

.headerWrapper {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.headerWrapper svg {
  margin: 15px;
  font-size: 20px;
}

.header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}

.content {
  padding: 10px 40px;
  height: calc(100% - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

.primary {
  margin: 10px;
  width: 100px;
}

.image {
  max-width: 100%;
  height: 100%;
}
