.wrapper {
  width: 45%;
  padding: 10px;
  border: 1px solid var(--border-color);
  margin: 0 30px 30px 0;
  cursor: pointer;
}

.image {
  max-width: 100%;
  margin-top: 5px;
}

.error {
  height: 100px;
  opacity: 0.7;
  margin: auto;
  width: 150px;
}

.loader {
  height: initial;
  width: initial;
}
